.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
}

/* Updated button styles */
.contact-form button {
    background-color: green;
    color: white;
    padding: 8px 16px; 
    font-size: 14px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 10px auto 0; 
    width: auto; 
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.note{
    text-wrap: wrap;
    font-weight: bold;
}