
body{
    background-image: url("/public/images/background.jpg");
    background-size: cover;
   
    background-repeat: no-repeat;

    background-size: cover;
}
.login-container {
    display: flex;
    justify-content: center;
   margin-top: 100px;
  
   
}

.login-form {
   
    border-radius: 8px;
    width: 400px;
    text-align: center;
    background: transparent; 
  
    border-radius: 8px; 
    box-shadow: none;
   
    text-align: center;
}

label{
    width:100px;
}
.login-btn{
    width: 85px;
}
.register-btn{
    width: 85px;
}
.email{
    margin-left: 0px;
}