body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  color: white;
  position: relative;
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: black;
  width: 100%;
  max-width: 100%;
  margin: 0;
  
  box-sizing: border-box; 
  height: 60px; 
}

#navLogo {
  color: #ff9900;
  font-size: 22px; 
  font-weight: bold;
  margin-right: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 100px; 
  margin: 0;
  padding: 0;
  
}

.nav-links li {
  flex: none;
}

.nav-links a {
  text-decoration: none !important;
  color: white !important;
  font-size: 14px; 
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: white;
  height: 2px; 
  width: 22px; 
  margin: 3px 0;
}

.cart-icon {
  font-size: 16px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 20PX;
}

.cart-badge {
  background: red;
  color: white;
  font-size: 11px; 
  padding: 2px 5px;
  border-radius: 50%;
  margin-left: 5px;
}


.cart-desktop {
  display: flex;
  align-items: center;
  margin-left: 15px; 
}


.cart-mobile {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 10px; 
  margin-top: 0;
}

.search-bar input {
  padding: 4px;
  font-size: 13px; 
  width: 140px; 
  margin-top: 0;
  margin-right: 15PX;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    gap: 15px; 
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 8px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 8px 0;
  }
  
  .search-bar {
    display: none;
  }


  .cart-desktop {
    display: none;
  }

  .cart-mobile {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
}
