/* .product-details{
    background-color: white;
    display: flex;
}
.pro-img{
    height: 500px;
    height: 500px;
    position: absolute;
}
.title{
    position: relative ;
    margin-left: 500px;
} */